#bkg_banner {width:100%;height:650px;position:absolute;top:0;z-index:-1}
#bkg_banner div {width:100%;height:100%}
#bkg_banner .bnn01 {background:#000 url(../images/banner/bg01.jpg) no-repeat top center}
#bkg_banner .bnn02 {background:#000 url(../images/banner/bg02.jpg) no-repeat top center}
#bkg_banner .bnn03 {background:#000 url(../images/banner/bg03.jpg) no-repeat top center}
#bkg_banner .bnn04 {background:#000 url(../images/banner/bg04.jpg) no-repeat top center}
#bkg_banner .bnn05 {background:#9599a8 url(../images/banner/bg05.jpg) no-repeat top center}
#bkg_banner .bnnnew {background:#def1fd url(../images/banner/bg_new.jpg) no-repeat top center}

header #banner {float:left;width:100%;height:207px;padding:70px 0 72px 0;text-align:center;overflow:hidden}
header #banner .central {height:207px;overflow:hidden}
header #banner img {background:none!important}
header #banner .mobile {display:none}

header .bnn_org {width:100%!important;height:115px!important;overflow:hidden}
header .bnn_org .org {background:none!important;width:100%!important}
header .bnn_org .org p {float:right;clear:both;margin:40px 240px 14px 0}
header .bnn_org .org p.escuro {color:#155e9d}
header .bnn_org .org ul {float:right;clear:both;margin:0 5px 0 0}

header #nav {position:absolute;bottom:112px;width:100%;text-align:center}
header #nav a {background:#6d6e71;display:inline-block;margin:0 4px;width:8px;height:8px;border:5px solid #6d6e71;text-indent:-3000em;overflow:hidden;-webkit-border-radius:18px;-moz-border-radius:18px;border-radius:18px}
header #nav a.activeSlide {background:#fff;border-color:#00b3e3}

header .info {background:url(../images/bg_info_home.png) no-repeat 0 0;float:left;padding:15px 0 0 0;width:100%;height:76px;color:#fff}
header .info i {float:left;font-size:25px}
header .info p {float:left;font-size:13px}

header .info .data {float:left}
header .info .data i {margin:19px 20px 0 0;color:#fff}
header .info .data i:first-child {margin:24px 7px 0 45px;font-size:16px}
header .info .data p {margin:11px 47px 0 0}
header .info .data p strong {font-family:'latoblack'}

header .info .local {float:left;height:63px;border-right:1px solid #86aec8;border-left:1px solid #86aec8}
header .info .local i {margin:20px 20px 0 40px}
header .info .local p {margin:11px 40px 0 0}
header .info .local p strong {font-family:'latoblack'}

header .info .botao {float:left}
header .info .botao a img {margin:10px 0 0 44px}

.content_home .sobre_evento {float:left;/*width:656px*/;width:90%;margin:0 5%}
.content_home .sobre_evento h2 {margin:60px 0 50px 0;font-family:'latoblack';font-size:20px;color:#00b3e3;text-transform:uppercase}
.content_home .sobre_evento p {margin:0 40px 30px 0;font-size:16px;color:#6d6e71;line-height:20px}
.content_home .sobre_evento a {float:left;display:block;padding:10px 0 11px;margin-bottom:55px;font-family:'latobold';font-size:20px;color:#fff;text-transform:uppercase;text-align:center}
.content_home .sobre_evento a:hover {text-decoration:none}
.content_home .sobre_evento .inscrevase {background:#00b3e3;width:278px;margin-right:10px}
.content_home .sobre_evento .inscrevase:hover {background:#008eb4}
.content_home .sobre_evento .saiba_mais {background:#2fbfc2;width:238px}
.content_home .sobre_evento .saiba_mais:hover {background:#29a8ab}

.content_home .galeria {float:left;width:344px}
.content_home .galeria ul {margin:125px 0 0 0}
.content_home .galeria li {float:left;margin:0 0 15px 27px;height:94px;overflow:hidden;position:relative}
.content_home .galeria li .hover {background:rgba(0, 179, 227, 0.7);width:100%;height:100%;position:absolute;top:0;left:0;text-align:center;display:none}
.content_home .galeria li .hover i {font-size:26px;color:#fff;line-height:94px}

#content .patrocinadores {background:#f1fafe;float:left;width:100%;padding:0 0 60px 0;display:none}
#content .patrocinadores .central {overflow:hidden}
#content .patrocinadores h2 {float:left;margin:70px 0 52px 0;font-family:'latoblack';font-size:20px;color:#00b3e3;text-transform:uppercase}
#content .patrocinadores .ver_todos {background:#00b3e3;float:right;display:block;padding:10px 0 11px;margin:58px 0 0 0;width:198px;font-size:20px;color:#fff;text-transform:uppercase;text-align:center}
#content .patrocinadores .ver_todos:hover {background:#008eb4;text-decoration:none}
#content .patrocinadores ul {clear:both;width:150%}
#content .patrocinadores li {float:left;margin:0 21px 0 0}