@media only screen and (max-width:767px) {
    .central {max-width:90%}
    
    #header_hosp .mn_einstein,
    #header_hosp .social,
    header #banner .desk,
    .content_home .galeria,
    .internas .col_right {display:none}

    #bkg_banner div {background-size:cover!important}
    #bkg_banner .bnn01 {background:#000 url(../images/banner/mobile/bg01.jpg) no-repeat top center}
    #bkg_banner .bnn02 {background:#000 url(../images/banner/mobile/bg02.jpg) no-repeat top center}
    #bkg_banner .bnn03 {background:#000 url(../images/banner/mobile/bg03.jpg) no-repeat top center}
    #bkg_banner .bnn04 {background:#000 url(../images/banner/mobile/bg04.jpg) no-repeat top center}
    #bkg_banner .bnn05 {background:#c9d5ff url(../images/banner/mobile/bg05.jpg) no-repeat top center}
    #bkg_banner .bnnnew {background:#def1fd url(../images/banner/mobile/bg_new.jpg) no-repeat top center}

    header #banner {padding:250px 0 0 0;height:114px}
    header #banner img {width:100%;max-width:100%}
    header #banner .mobile {display:block!important;height:100%}
    header #nav,
    .central.banners {display:none}

    header {background-repeat:repeat}
    header.home {height:auto}

    #bkg_banner {height:563px}


    #header_hosp .mn_button {float:left;display:block;font-size:24px;color:#fff;line-height:44px}

    #header_hosp {height:44px}
    #header_hosp .idioma {margin:15px 0 0 0;border:none}

    #menu {width:90%}
    header #menu .holder_lgo {padding:20px 0;width:100%}
    header #menu .logo {width:100%}
    header #menu .logo a {background-size:contain;margin:0 auto;width:80%;height:49px}

    header #menu .holder_menu {background:#fff;width:100%;position:absolute;top:44px;left:0;z-index:99;-webkit-box-shadow:3px 0px 9px 0px #333;-moz-box-shadow:3px 0px 9px 0px #333;box-shadow:3px 0px 9px 0px #333;display:none}
    header #menu .holder_menu.open {display:block}
    header #menu hr {display:none}
    header #menu .mn_azul,
    header #menu .mn_princ {padding:0;margin:0;width:100%}
    header #menu .mn_azul li,
    header #menu .mn_princ li {clear:both;margin:0;width:100%;border-bottom:1px solid #6d6e71}
    header #menu .mn_azul li a,
    header #menu .mn_princ li a {display:block;padding:15px;font-size:18px}
    header #menu .mn_princ li a:hover,
    header #menu .mn_princ li a.select {color:#6d6e71;border-bottom:none}
    header #menu .mn_azul {background:#fff;position:relative;top:312px}
    header #menu .mn_princ {background:#e1e2e2;position:relative;top:-208px}

    header #menu .mn_azul li a:hover,
    header #menu .mn_azul li.select {background:#00b3e3}
    header #menu .mn_azul li.select a {color:#fff}
    header #menu .mn_azul li a:hover span,
    header #menu .mn_azul li.select span {border:none}

    header .tit h1 {margin:30px 0;width:100%;text-align:center}
    header .tit .org {width:100%}
    header .tit .org li {width:49%}

    header .info {background:#00b3e3;padding:0;margin:20px 0;height:auto}
    header .info .data,
    header .info .local,
    header .info .botao {clear:both;padding:15px 0;width:100%;border-bottom:1px solid #fff}

    header .info .data i {margin:15px 10px 0 0}
    header .info .data i:first-child {margin:20px 10px 0 55px}
    header .info .data p {margin-top:0}

    header .info .local {height:auto;border-left:none;border-right:none}
    header .info .local p {margin:0}
    header .info .local i {margin:10px 10px 0 20px}

    header .info .botao a img {margin:0;max-width:100%}

    .content_home .sobre_evento {width:100%;margin:0}
    .content_home .sobre_evento h2 {margin:20px 0 10px 0;font-size:16px}
    .content_home .sobre_evento p {margin:0 0 15px 0;font-size:12px}

    .content_home .sobre_evento a {margin-bottom:20px}
    .content_home .sobre_evento .inscrevase {margin-right:0;width:100%}
    .content_home .sobre_evento .saiba_mais {width:100%}

    footer {background-repeat:repeat;height:auto}
    footer h3 {margin:20px 0 15px 0}

    footer .localizacao,
    footer .novidades,
    footer .contato {width:100%;padding:0 0 20px 0}
    footer .localizacao .mapa {width:100%}

    #footer_hosp {height:auto;text-align:center}
    #footer_hosp .aehi {float:none;margin:15px auto 0}
    #footer_hosp .mantra {float:none;margin:10px auto 15px}
    #footer_hosp p {float:none;width:100%;font-size:10px}

    /*Internas*/
    .internas {padding:30px 0}
    .internas .col_left {padding:15px 15px 30px 15px;width:89%}

    .col_left iframe {max-width:100%}
    .col_left .submissao {width:100%}
    .col_left .simple_list {margin-bottom:20px;font-size:12px}
    .col_left .tabela {font-size:13px}
    .col_left .tabela .double {height:60px;line-height:60px}
    #ingles .col_left .tabela .double {height:45px;line-height:45px}
    .col_left .tabela .mob2lin {height:30px;line-height:30px}
    .col_left .tabela .celula {width:68%}
    .col_left .tabela .blue {width:28%}
    .col_left h2 {padding:15px 0;font-size:16px}
    .col_left p {margin:0 0 15px 0;font-size:12px;line-height:18px}
    .internas .inscrevase {width:100%}

    .palestrantes .col_left p {font-size:12px}
    .palestrantes .holder {width:100%}
    .palestrantes .item {margin:0 0 30px 0;width:100%;height:auto}
    .palestrantes .item a {width:100%;height:auto;text-align:center}
    .palestrantes .item img {width:100%;height:100%}
    .palestrantes .item .hover {height:75%;-webkit-border-radius:25px;-moz-border-radius:25px;border-radius:25px}

    .inscricoes .tarifas .tit {margin-bottom:5px;width:100%}
    .inscricoes .tarifas .txt {width:80%}

    .programacao .col_left,
    .inscricoes .col_left {padding:0}

    #tabs {width:259px}
    #tabs .abas {background:#00b3e3;float:left;width:19%;height:auto;position:relative;z-index:2}
    #tabs .abas li {float:left;border:none;border-bottom:1px solid #6d6e71}
    #tabs .abas li:first-child {border-bottom:1px solid #6d6e71}
    #tabs .abas li.dia1,
    #tabs .abas li.dia2,
    #tabs .abas li.dia3,
    #tabs .abas li.dia4 {width:100%}
    #tabs .abas li.dia1:hover,
    #tabs .abas li.dia1.selected,
    #tabs .abas li.dia2:hover,
    #tabs .abas li.dia2.selected,
    #tabs .abas li.dia3:hover,
    #tabs .abas li.dia3.selected,
    #tabs .abas li.dia4:hover,
    #tabs .abas li.dia4.selected {background:#008eb4}
    #tabs .abas li a {padding:16px 0}
    #tabs .abas li a span {display:none}
    #tabs .abas li a .dia_mob {display:block}

    .inscricoes #tabs .abas {background:#00b3e3;height:auto}
    .inscricoes #tabs .abas li {border:none}
    .inscricoes #tabs .abas li.item1,
    .inscricoes #tabs .abas li.item2,
    .inscricoes #tabs .abas li.item3,
    .inscricoes #tabs .abas li.item4 {width:100%}

    .inscricoes #tabs .abas li.item1:hover,
    .inscricoes #tabs .abas li.item2:hover,
    .inscricoes #tabs .abas li.item3:hover,
    .inscricoes #tabs .abas li.item4:hover {background:none}
    .inscricoes #tabs .abas li.item1.selected,
    .inscricoes #tabs .abas li.item2.selected,
    .inscricoes #tabs .abas li.item3.selected,
    .inscricoes #tabs .abas li.item4.selected {background:#008eb4}

    #tabs .content_aba {float:right;padding:15px 15px 30px 15px;margin:0 0 9px 0;width:69%;-webkit-box-shadow:-3px 3px 8px 0px rgba(178, 178, 178, 0.5);-moz-box-shadow:-3px 3px 8px 0px rgba(178, 178, 178, 0.5);box-shadow:-3px 3px 8px 0px rgba(178, 178, 178, 0.5)}
    .inscricoes #tabs .content_aba {padding:15px 15px 30px 15px}
    #tabs .content_aba .seta {display:none}
    #tabs .content_aba p {margin:0 auto 15px auto;width:100%;font-size:12px}
    #tabs .content_aba p a {font-size:12px}
    #tabs .content_aba .item {padding:15px 0;width:100%}
    #tabs .content_aba .item .hora {margin:0 0 5px 10px;width:89%;font-size:14px}
    #tabs .content_aba .item .tit {margin:0 0 0 10px;width:89%;font-size:16px}
    #tabs .content_aba .item .subtit {margin:0 0 0 10px;width:89%;font-size:14px}
    #tabs .content_aba .item .palestrante {margin:0 0 0 10px;font-size:14px}
    #tabs .content_aba .item li {padding:15px 15px 15px 10px}
    #tabs .content_aba p em {margin:0}

    .contato .col_left p {font-size:12px}
    .contato .col_left form {padding:30px 0 0 0}
    .contato .col_left fieldset {width:100%}
    .contato .col_left label {width:100%;font-size:14px;line-height:18px}
    .contato .col_left .input {padding:7px 15px;width:87%;font-size:16px}
    .contato .col_left textarea {padding:7px 15px;width:87%;height:80px;font-size:16px}
    .contato .col_left button {margin:0;width:100%;font-size:16px}

    .duvidas dl {padding:0 0 30px 0}
    .duvidas dt h2 {padding:0 0 5px 0;font-size:14px;text-transform:lowercase}
    .duvidas dt h2:first-letter {text-transform:uppercase}
    .duvidas dd {font-size:12px}

    .col_only {padding:15px 0 20px}
    .col_only p {margin:0 15px 15px 15px;font-size:12px;line-height:18px}
    .content_step {width:90%}

    #step2,
    #step3,
    #step4,
    #step5 {padding:25px 0}

    .filtro1 li,
    .filtro2 li {padding:0 0 25px;width:100%!important}
    .filtro1 li a {width:100%}
    .filtro1 li.congressista,
    .filtro1 li.membro {margin:0}
    .filtro1 li.cortesia a,
    .filtro1 li.congressista a,
    .filtro1 li.membro a {padding:25px 0}
    .filtro1 li.eff a {padding:17px 0}
    .filtro1 .selected .seta,
    .filtro2 li.selected .seta {display:none!important}

    .filtro2 li.opcao1,
    .filtro2 li.opcao4 {width:100%}
    .filtro2 li.opcao2,
    .filtro2 li.opcao3 {width:100%;margin:0}

    .item_result {width:100%;margin:0 0 25px}
    .item_result .conteudo {padding:10px 20px}

    .filtro4 li {margin:0 0 25px 0}
    .filtro4 li.guiada01,
    .filtro4 li.guiada03 {width:100%}
    .filtro4 li.guiada02 {width:100%;margin:0 0 25px 0}
    .filtro4 li input {margin:44px 10px 0 20px}
    .filtro4 li label {width:75%}
    .filtro4 li.guiada03 label {margin:15px 0 0 0}

    #step5 label {width:88%}

    .botoes {width:90%}
    .botoes li .pagto {float:none;display:block;padding:12px 25px;margin:25px 0 0 0}

}