@font-face {font-family:'latoregular';src:url('../fonts/lato-regular-webfont.eot');src:url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/lato-regular-webfont.woff2') format('woff2'),url('../fonts/lato-regular-webfont.woff') format('woff'),url('../fonts/lato-regular-webfont.ttf') format('truetype'),url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');font-weight:normal;font-style:normal}
@font-face {font-family:'latoblack';src:url('../fonts/lato-black-webfont.eot');src:url('../fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/lato-black-webfont.woff2') format('woff2'),url('../fonts/lato-black-webfont.woff') format('woff'),url('../fonts/lato-black-webfont.ttf') format('truetype'),url('../fonts/lato-black-webfont.svg#latoblack') format('svg');font-weight:normal;font-style:normal}

* {padding:0;margin:0;font-family:'latoregular'}
a, a img, fieldset, form {border:none}
input[type="email"]:focus {outline:0}

.border {-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px}
h1 {margin:0 0 15px 0;font-size:18px;color:#00b3e3;text-transform:uppercase}
p {font-size:14px;color:#6d6e71;line-height:18px}
label {float:left;margin:25px 15px 0 0;font-size:14px}
input {float:left;padding:10px 10px;margin:15px 10px 13px 0;width:250px;font-size:14px;color:#6d7a83;border:1px solid #b6b6b8!important}
button {background:#00b3e3;float:left;padding:10px 20px;margin:15px 0 0 0;font-family:'latoregular';font-size:14px;color:#fff;text-transform:uppercase;border:none}
button:hover {background:#008eb4}

#avise {width:440px}
#avise h1 {font-size:16px}
#avise label {float:left;clear:both;margin:15px 0 0 0;width:100%}
#avise input {margin:5px 0 10px 0;width:90%}
#avise button {float:left;clear:both}
#avise select {background:#fff;padding:10px 10px;margin:5px 0 10px 0;width:90%;font-size:14px;color:#6d7a83;border:1px solid #b6b6b8;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px}

#apoio {width:500px}
#apoio a {color:#00b3e3;text-decoration:none}