.col_left h2 {clear:both;padding:30px 0;font-family:'latoblack';font-size:20px;color:#00b3e3;text-transform:uppercase}
.col_left p {margin:0 0 30px 0;font-size:16px;color:#6d6e71;line-height:20px}
.col_left p a {color:#6d6e71}
.col_left p strong {font-family:'latobold';color:#00b3e3}
.col_left .bold,
.col_only .bold {font-family:'latobold'}

.duvidas {}
.duvidas dl {}
.duvidas dt h2 {padding:30px 0 5px;font-size:16px;cursor:pointer;text-transform:lowercase}
.duvidas dt h2:first-letter {text-transform:uppercase}
.duvidas dd {display:none;color:#6d6e71}

.inscricoes .col_left {padding:0 0 50px;width:698px;overflow:hidden}
.inscricoes .tarifas {float:left;width:100%;padding:0 0 30px 0}
.inscricoes .tarifas .tit {background:#00b3e3;float:left;margin:0;padding:20px 0;width:100%;text-align:center;color:#fff}
.inscricoes .tarifas .txt {float:left;padding:10px 0 10px;width:100%}
.inscricoes .tarifas .txt p {margin:0 15px 15px}
.inscricoes .tarifas .txt p strong {color:#6d6e71}

.inscricoes .table {width:100%;text-align:center;color:#fff;font-size:12px}
.inscricoes .table .tit_table {background:#0a74ba;display:block;padding:12px 0;margin:0 0 10px 0;width:100%;color:#fff;border:1px solid #0a74ba}
.inscricoes .table .esq {float:left;margin:0 2% 40px 0;width:25%}
.inscricoes .table .dir {float:left;margin:0 0 40px 0;width:73%}
.inscricoes .table .categ {background:#00b3e3;display:block;padding:10px 0;margin:0 0 10px 0;width:100%;height:71px;line-height:71px;border:1px solid #00b3e3}
.inscricoes .table .linha_simple {background:#2fbfc2;display:block;padding:11px 0;margin:0 0 10px 0;width:100%}
.inscricoes .table .fase {background:#00b3e3;clear:both;display:block;padding:10px 0;margin:0 0 10px 0;width:100%;border:1px solid #00b3e3}
.inscricoes .table .col_3 {float:left;width:32.5%}
.inscricoes .table .col_3.meio {margin:0 1%}
.inscricoes .table .categ_preco {background:#2fbfc2;display:block;padding:10px 0;margin:0 0 10px 0;width:100%;border:1px solid #2fbfc2}
.inscricoes .table .preco {display:block;padding:10px 0;margin:0 0 10px 0;width:100%;color:#6d6e71;border:1px solid #b6b6b8}
.inscricoes .table .duplo {height:26px;line-height:26px}
.inscricoes .table .triplo {height:39px;line-height:39px}
.inscricoes .table hr {float:left;clear:both;width:100%;border:none}
.inscricoes .table .cinzao {background:#999;border-color:#999}
.inscricoes .table .cinza  {background:#c5c5c5;border-color:#c5c5c5}
.inscricoes .table .none {background:none;border-color:#b6b6b8;color:#6d6e71}

.inscricoes #tabs {}
.inscricoes #tabs .abas {background:url(../images/bg_prog.png) no-repeat 0 0;height:60px;overflow:hidden}
.inscricoes #tabs .abas li {float:left;border-left:1px solid #7d949f;text-align:center}
.inscricoes #tabs .abas li:first-child {border:none}
.inscricoes #tabs .abas li.item1 {width:174px}
.inscricoes #tabs .abas li.item1 span,
.inscricoes #tabs .abas li.item4 span,
#ingles .inscricoes #tabs .abas li.item2 span,
#ingles .inscricoes #tabs .abas li.item3 span,
#espanhol .inscricoes #tabs .abas li.item3 span {line-height:40px}
.inscricoes #tabs .abas li.item2 {width:174px}
.inscricoes #tabs .abas li.item3 {width:174px}
.inscricoes #tabs .abas li.item4 {width:173px}
.inscricoes #tabs .abas li.item1:hover,
.inscricoes #tabs .abas li.item1.selected {background:url(../images/bg_prog_hover.png) no-repeat 0 0}
.inscricoes #tabs .abas li.item2:hover,
.inscricoes #tabs .abas li.item2.selected {background:url(../images/bg_prog_hover.png) no-repeat -174px 0}
.inscricoes #tabs .abas li.item3:hover,
.inscricoes #tabs .abas li.item3.selected {background:url(../images/bg_prog_hover.png) no-repeat -348px 0}
.inscricoes #tabs .abas li.item4:hover,
.inscricoes #tabs .abas li.item4.selected {background:url(../images/bg_prog_hover.png) no-repeat -522px 0}
.inscricoes #tabs .abas li a {display:block;padding:12px 0;height:60px;color:#fff}
.inscricoes #tabs .abas li a:hover {text-decoration:none}
.inscricoes #tabs .abas li a .dia_mob {display:none}

.inscricoes #tabs .content_aba {padding:0 50px 30px;position:relative}
.inscricoes #tabs .content_aba .seta {position:absolute;top:0}
.inscricoes #tabs .content_aba p {font-size:16px;color:#6d6e71;line-height:20px}
.inscricoes #tabs .content_aba p em {font-size:12px}
.inscricoes #tabs .content_aba p a {color:#6d6e71}
.inscricoes #tabs .content_aba p a:hover {color:#22bde7}

.localizacao .bold,
.hospedagem .bold {font-family:'latoregular'}

.true {font-family:'latobold'!important}