.programacao .col_left {padding:0 0 50px;width:698px;overflow:hidden}

#tabs {}
#tabs .abas {background:url(../images/bg_prog.png) no-repeat 0 0;height:60px;overflow:hidden}
#tabs .abas li {float:left;border-left:1px solid #7d949f;text-align:center}
#tabs .abas li:first-child {border:none}
#tabs .abas li.dia1 {width:174px}
#tabs .abas li.dia2 {width:174px}
#tabs .abas li.dia3 {width:174px}
#tabs .abas li.dia4 {width:173px}
#tabs .abas li.dia1:hover,
#tabs .abas li.dia1.selected {background:url(../images/bg_prog_hover.png) no-repeat 0 0}
#tabs .abas li.dia2:hover,
#tabs .abas li.dia2.selected {background:url(../images/bg_prog_hover.png) no-repeat -174px 0}
#tabs .abas li.dia3:hover,
#tabs .abas li.dia3.selected {background:url(../images/bg_prog_hover.png) no-repeat -348px 0}
#tabs .abas li.dia4:hover,
#tabs .abas li.dia4.selected {background:url(../images/bg_prog_hover.png) no-repeat -522px 0}
#tabs .abas li a {display:block;padding:12px 0;color:#fff}
#tabs .abas li a:hover {text-decoration:none}
#tabs .abas li a .dia_mob {display:none}

#tabs .content_aba {padding:46px 0 30px 0;position:relative}
#tabs .content_aba .seta {position:absolute;top:0}
#tabs .content_aba p {width:614px;margin:0 auto 30px auto;font-size:16px;color:#6d6e71;line-height:20px}
#tabs .content_aba p a {color:#6d6e71}
#tabs .content_aba p a:hover {color:#22bde7}
#tabs #dia1.content_aba .seta {left:79px}
#tabs #dia2.content_aba .seta {left:259px}
#tabs #dia3.content_aba .seta {left:430px}
#tabs #dia4.content_aba .seta {left:599px}

#tabs .content_aba .item {background:#e9f7fe;padding:30px 0 30px 0;margin:0 auto 30px;width:614px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
#tabs .content_aba .item .hora {margin:0 35px 5px 40px;font-size:17px;color:#6d6e71}
#tabs .content_aba .item .tit {margin:0 35px 0 40px;font-size:20px;color:#00b3e3}
#tabs .content_aba .item .subtit {margin:0 35px 0 40px;font-size:16px;color:#00b3e3}
#tabs .content_aba .item .palestrante {margin:0 35px 0 40px;font-family:'Myriad Pro', 'Lucida Sans', Arial;font-size:16px;color:#2fbfc2}
#tabs .content_aba .item .palestrante a {color:#2fbfc2}
#tabs .content_aba .item hr {margin:10px 35px 10px 40px;border:none;border-top:1px solid #e2e9ed;border-bottom:1px solid #e5eef3}
#tabs .content_aba .item ul {}
#tabs .content_aba .item li {padding:25px 35px 25px 40px}
#tabs .content_aba .item li:nth-child(even) {background:#dff3fd}
#tabs .content_aba .item li:last-child {padding-bottom:0}
#tabs .content_aba .item li span {margin:0!important}
#tabs .content_aba .item li hr {margin:10px 0!important}

#tabs .content_aba p em {margin:0 0 0 40px;font-size:12px}