.contato {}

.contato .col_left p {margin:0 0 15px 0;font-size:16px;color:#6d6e71;line-height:20px}
.contato .col_left form {padding:55px 0 0 0}
.contato .col_left label {float:left;clear:left;margin:0 0 10px 0;width:109px;font-size:18px;color:#6d6e71;line-height:43px}
.contato .col_left .input {float:left;padding:10px 20px;margin:0 0 10px 0;width:357px;font-size:18px;color:#6d6e71;border:1px solid #b6b6b8}
.contato .col_left textarea {float:left;padding:10px 20px;margin:0 0 10px 0;width:357px;height:144px;font-size:18px;color:#6d6e71;border:1px solid #b6b6b8;font-family:'latoregular'}
.contato .col_left button {background:#00b3e3;padding:10px 0;margin:0 0 0 109px;width:399px;font-family:'latobold';font-size:20px;color:#fff;text-align:center;text-transform:uppercase}
.contato .col_left button:hover {background:#008eb4}