.col_left .submissao {background:#2fbfc2;display:block;padding:10px 0;margin:0 auto 30px;width:571px;font-family:'latobold';font-size:20px;color:#fff;text-align:center;text-transform:uppercase}
.col_left .submissao i {margin-left:12px}
.col_left .submissao:hover {background:#29a8ab;text-decoration:none}

.col_left h2 {padding:30px 0;font-family:'latoblack';font-size:20px;color:#00b3e3;text-transform:uppercase}
.col_left p {margin:0 0 30px 0;font-size:16px;color:#6d6e71;line-height:20px}
.col_left p a {color:#6d6e71;text-decoration:underline}
.col_left p a:hover {color:#00b3e3}
.col_left p strong {font-family:'latobold';color:#00b3e3}
.col_left .bold {font-family:'latobold'}

.col_left .tabela {float:left;margin:0 0 30px 0;width:100%;font-size:16px;text-align:center}
.col_left .tabela .row {float:left;clear:both;width:100%}
.col_left .tabela .tb_tr {background:#00b3e3;display:block;padding:12px 0;margin:0 0 9px 0;width:100%;color:#fff;text-transform:uppercase}
.col_left .tabela .coluna {float:left}
.col_left .tabela .col01 {}
.col_left .tabela .col02 {width:70%}
.col_left .tabela .celula {float:left;display:block;padding:14px 0 13px;margin:0 0 9px 0;width:69%;border:1px solid #b6b6b8;color:#6d6e71}
.col_left .tabela .blue {background:#00b3e3;float:left;width:28%;margin-right:2%;border-color:#00b3e3;color:#fff}

.col_left .tabela .double {height:36px;line-height:36px}

.col_left .simple_list {margin:0 0 60px 0;font-size:16px;color:#6d6e71;line-height:20px}