@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* CSS Document */
.clear{clear:both;}
.col_only .formGrupo p.aviso.verde{padding:20px;border-radius:5px;}
.col_only .formGrupo hr{height:auto;border:none;border-bottom:1px solid #e5eef3;margin:20px 0;}
.col_only #qued-form{padding:0 50px 30px 50px;width:70%;}
.col_only #qued-form select{width:95% !important;}
.col_only #qued-form input[type=text],.col_only #qued-form input[type=button]{
font-family: 'latoregular';
padding: 11px 20px;
margin: 0 0 13px 0;
font-size: 18px;
color: #6d7a83;
border: 1px solid #e2e7ea;
width:100%;
box-sizing:border-box;
}
.col_only #qued-form select{border: 1px solid #e2e7ea;color: #6d7a83;font-size:16px;padding: 11px 20px;}
.col_only #qued-form input.vermelho{border:1px solid red;}
.col_only #qued-form select.vermelho{border:1px solid red;}
.col_only #qued-form p{margin:20px 0;padding-left:0;}
.col_only #qued-form label{margin:20px 0 20px 10px;color:#6d6e71;cursor:pointer;}
div#representanteGrupo {margin: 10px 0 20px 0;}
.col_only #qued-form table input, .col_only #qued-form table select{width:100%;box-sizing:border-box;}
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
.fontawesome-question-sign{font-size:20px !important;float:right;margin:10px 0 0 0;color:#6d6e71;}
.adicionarParticipante, .salvarParticipante, .incluirParticipante{
float: right;
display: block;
padding: 10px 20px;
margin: 20px 0;
font-family: 'latobold';
font-size: 16px;
color: #fff;
text-transform: uppercase;
text-align: center;	
cursor:pointer;
}
.adicionarParticipante{background:#00b3e3;}
.adicionarParticipante:hover{text-decoration:none;background:#008eb4;}
.salvarParticipante{background:#2fbfc2;}
.salvarParticipante:hover{text-decoration:none;background:#29a8ab;}
.incluirParticipante{font-size:12px;background:#00b3e3;}
.incluirParticipante:hover{text-decoration:none;background:#008eb4;}
#listaParticipantes{margin:20px 0;}
#listaParticipantes table.participantes{border:1px solid #e2e7ea;}
#listaParticipantes table td{color:#6d6e71;padding:10px;border-bottom:1px solid #e2e7ea;font-size:14px;}
#listaParticipantes table tr:first-child td:first-child{border-radius:20px 0 0 0;}
#listaParticipantes table tr:first-child td:last-child{border-radius:0 20px 0 0;}
#listaParticipantes table tr:last-child td{border:none;}
#listaParticipantes table tr:last-child td:first-child{border-radius:0 0 0 20px}
#listaParticipantes table tr:last-child td:last-child{border-radius:0 0 20px 0;}
#listaParticipantes p strong{color:#6d6e71 !important;}
/*.listaParticipantes table tr:hover{background:#f2f2f2;}*/
.acoesParticipantes{padding:5px;color:#fff;margin:0 5px;cursor:pointer;}
.removerParticipante{background:#FC4619;}
.removerParticipante:hover{text-decoration:none;background:#BA2601;}
.editarParticipante{background:#2fbfc2;}
.editarParticipante:hover{text-decoration:none;background:#21A4A6;}
#bt276{
background: #00b3e3;
float: left;
clear: both;
padding: 10px 0;
font-family: 'latobold';
font-size: 20px;
color: #fff !important;
font-weight:bold;
text-transform: uppercase;
cursor:pointer;
}
#bt276:hover{background:#008eb4;}
.col_only #qued-form .aviso{font-size: 14px;margin: 5px 0;background: none;}
.col_only #qued-form .aviso.vermelho{color:red;}
.tooltipster-default .tooltipster-content{width:200px !important;}
a.novoGrupo {
padding: 10px 20px !important;
cursor: pointer;
}