.internas {padding:60px 0}

.internas .inscrevase {background:#00b3e3;clear:both;display:block;padding:10px 0 11px;margin:0 auto;width:278px;font-family:'latobold';font-size:20px;color:#fff;text-transform:uppercase;text-align:center}
.internas .inscrevase:hover {background:#008eb4;text-decoration:none}

.internas .col_left {background:url(../images/bg_bottom_left.png) no-repeat center bottom;float:left;padding:50px;width:598px;border:1px solid #c0c0c1;-webkit-border-radius:40px 40px 10px 10px;-moz-border-radius:40px 40px 10px 10px;border-radius:40px 40px 10px 10px}

.internas .col_right {background:url(../images/bg_bottom_right.png) no-repeat center bottom;float:right;padding:0 0 15px 0;width:280px;border:1px solid #c0c0c1;-webkit-border-radius:40px 40px 10px 10px;-moz-border-radius:40px 40px 10px 10px;border-radius:40px 40px 10px 10px}
.internas .col_right .txt {margin:30px auto;width:75%;font-size:16px;color:#6d6e71;text-align:center}

.col_right .top {background:url(../images/bg_top_right.png) no-repeat center top;height:60px;color:#fff}
.col_right .top i {float:left;margin:17px 0 0 0;font-size:25px;color:#fff}
.col_right .top i:first-child {margin:22px 7px 0 37px;font-size:16px}
.col_right .top p {float:left;margin:16px 0 0 11px;font-size:13px;color:#fff}
.col_right .top p strong {font-family:'latobold'}

.col_right .inscrevase {padding:8px 0;margin:0 auto 30px;width:225px;font-size:17px}
.col_right .inscrevase:hover {background:#008eb4}

.col_right .novidades {background:#f1fafe;float:left;width:100%;padding:30px 0;text-align:center}
.col_right .novidades h3 {margin-bottom:35px;font-family:'latoblack';font-size:17px;color:#00b3e3;text-transform:uppercase}
.col_right .novidades h3 i {margin-right:10px}
.col_right .novidades input {clear:both;padding:9px 15px 8px;margin:0 0 5px 0;width:193px;font-size:14px;color:#6d7a83;border:1px solid #e2e7ea}
.col_right .novidades button {background:#00b3e3;clear:both;padding:9px 0 8px;margin:10px 0 0 0;width:225px;font-family:'latobold';font-size:16px;color:#fff;text-transform:uppercase}
.col_right .novidades button:hover {background:#008eb4}

.col_right .compartilhe {float:left;width:100%;padding:24px 0 20px 0;text-align:center}
.col_right .compartilhe p{display:inline;margin:5px 11px 0 0;font-size:11px;color:#6d6e71}
.col_right .compartilhe ul {display:inline}
.col_right .compartilhe li {display:inline;margin:0 5px 0 0;font-size:18px}
.col_right .compartilhe li i.fa-facebook-square {color:#3c5b9a}
.col_right .compartilhe li i.fa-twitter {color:#5fa9dd}

.col_only {background:url(../images/bg_col_only.png) no-repeat center bottom;padding:50px 0 70px;border:1px solid #c0c0c1;-webkit-border-radius:40px 40px 10px 10px;-moz-border-radius:40px 40px 10px 10px;border-radius:40px 40px 10px 10px}
.col_only p{margin:0 50px 30px 50px;font-size:16px;color:#6d6e71;line-height:20px}
.col_only p strong {font-family:'latobold';color:#00b3e3}
 .ul_list li{margin:0 50px 20px 80px;font-size:16px;color:#6d6e71;list-style: disc}

.steps {clear:both;width:100%}
.steps p {margin:0 0 30px;line-height:21px}
.steps p.hide{display:none}
.steps p a {font-family:'latobold';color:#00b3e3}
#step2 {background:#e9f7fe;padding:50px 0 0}
#step3 {background:#d5effd;padding:50px 0}
#step4 {background:#e9f7fe;padding:50px 0}
#step5 {background:#d5effd;padding:50px 0}

.content_step {width:900px;margin:0 auto;overflow:hidden}

.filtro1 {}
.filtro1 li {float:left;position:relative;padding:0 0 51px}
.filtro1 li.cortesia {margin:0 9px}
.filtro1 li.congressista {margin:0 9px 0 0}
.filtro1 li.eff {}
.filtro1 li.membro {margin-left:8px}
.filtro1 li.cortesia a {padding:30px 10px}
.filtro1 li.apoio a, .filtro1 li.apoio_dias a {padding:21px 10px}
.filtro1 li.congressista a {padding:30px 10px}
.filtro1 li.eff a {padding:12px 10px}
.filtro1 li.membro a {padding:30px 15px}
.filtro1 li .seta {position:absolute;bottom:0;left:50%;margin-left:-21px;display:none}
.filtro1 li a {background:#bcbec0;float:left;display:block;font-size:16px;color:#fff;text-align:center}
.filtro1 li a:hover,
.filtro1 li a.selected {background:#00b3e3;text-decoration:none}
.filtro1 .selected a {background:#00b3e3}
.filtro1 .selected .seta {display:block}

.filtro2 {}
.filtro2 li {float:left;position:relative;padding:0 0 51px}
.filtro2 li a:hover {background:#00b3e3;text-decoration:none}
.filtro2 li.opcao1 {width:228px}
.filtro2 li.opcao1 a {display:block;float:left;padding:14px 0;width:33%;font-size:16px;color:#fff;text-align:center}
.filtro2 li.opcao1 a.dia2 {border-left:1px solid #fff;border-right:1px solid #fff}
.filtro2 li.opcao2 {width:169px;margin:0 10px}
.filtro2 li.opcao2 a {display:block;float:left;padding:14px 0;width:100%;font-size:16px;color:#fff;text-align:center}
.filtro2 li.opcao3 {width:273px;margin-right:9px}
.filtro2 li.opcao3 a {display:block;float:left;padding:14px 0;width:100%;font-size:16px;color:#fff;text-align:center}
.filtro2 li.opcao4 {width:201px}
.filtro2 li.opcao4 a {background:#bcbec0;display:block;padding:26px 0;font-size:16px;color:#fff;text-align:center}
.filtro2 li.opcao4 a:hover {background:#00b3e3;text-decoration:none}
.filtro2 .content_filtro {background:#bcbec0;overflow:hidden}
.filtro2 li span {display:block;padding:11px 0;width:100%;font-size:16px;color:#fff;text-align:center;border-bottom:1px solid #fff}
.filtro2 li .seta {position:absolute;bottom:-1px;left:50%;margin-left:-22px;display:none}
.filtro2 li.selected a,
.filtro2 li.selected span,
.filtro2 li a.selected {background:#00b3e3}
.filtro2 li.selected .seta {display:block}
.filtro2 li.hide {display:none}

.result_dias {}
.item_result {float:left;width:32%;margin:0 0.5%}
.item_result .data {background:#00b3e3;display:block;padding:14px 0;margin:0 0 10px 0;width:100%;font-size:16px;color:#fff;text-indent:36px}
.item_result .conteudo {background:#fff;padding:20px 35px;border:1px solid #d1e0e9;overflow:hidden}
.item_result .conteudo p {margin:0 0 10px 0}
.item_result .conteudo ul {}
.item_result .conteudo li {float:left;clear:both;padding:0 0 25px 0;width:100%;color:#6d6e71}
.item_result .conteudo li.esgotado {color:#ff0000}
.item_result .conteudo li input {float:left;margin:5px 4% 0 0}
.item_result .conteudo li label {float:left;width:88%}

.filtro4 {}
.filtro4 li {background:#00b3e3;float:left;height:100px}
.filtro4 li.guiada01 {width:252px}
.filtro4 li.guiada02 {width:220px;margin:0 9px}
.filtro4 li.guiada03 {width:409px}
.filtro4 li input {float:left;margin:44px 10px 0 35px}
.filtro4 li label {float:left;margin:23px 0 0 0;width:67%;font-size:16px;color:#fff}
.filtro4 li.guiada03 label {width:80%}
#espanhol .filtro4 li.guiada03 label {width:84%}

#step5 input {float:left;margin:4px 10px 0 0}
#step5 label {float:left;display:block;font-size:16px;color:#6d6e71}

.botoes {width:900px;margin:0 auto;overflow:hidden}
.botoes li {}
.botoes li .pagto {background:#00b3e3;float:right;padding:12px 40px;margin:45px 0 0 0;font-family:'latobold';font-size:17px;color:#fff}
.botoes li .pagto:hover {background:#008eb4;text-decoration:none}

.internas a.programacao {background:#2fbfc2;clear:both;display:block;padding:10px 0 11px;margin:0 auto 30px;width:60%;font-family:'latobold';font-size:14px;color:#fff;text-transform:uppercase;text-align:center} 
.internas a.programacao:hover {background:#29a8ab;text-decoration:none}


.trabalhos .bto {background:#2fbfc2;float:left;display:block;width:32%;padding:10px 0;margin:0 2% 0 0;font-family:'latobold';font-size:14px;color:#fff;text-transform:uppercase;text-align:center}
.trabalhos .bto:last-child {margin:0}
.trabalhos .bto:hover {background:#29a8ab;text-decoration:none}

.patrocinador {float:left;text-align:center;border:1px solid #b6b6b8;position:relative;overflow:hidden}
.patrocinador .hover {background:#00b3e3;width:100%;height:100%;text-align:center;color:#fff;position:absolute;top:0;left:0;display:none}
.patrocinador .hover p {margin:15px auto 10px;width:80%;color:#fff}
.patrocinador .hover:hover {text-decoration:none}
.patrocinador.grande {padding:50px 0 68px;margin:0 34px 30px 0;width:280px;max-height:222px}
.patrocinador.pequeno {padding:33px 0 42px;margin:0 32px 30px 0;width:176px;max-height:142px}
.patrocinador.pequeno p {margin:50px auto 0}
.patrocinador.last {margin-right:0}
.patrocinadores .tornese {background:#00b3e3;float:left;clear:both;margin:30px 0 0 132px;padding:12px 40px;font-family:'latobold';font-size:17px;color:#fff}
.patrocinadores .tornese:hover {background:#008eb4;text-decoration:none}


